<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket Academy</title>
</head>
<body>
    <h1>Hi I am {{name}}</h1>
    <h2>My Centuries : {{Centuries}}</h2>
    <h3>I have scored: {{runs}}</h3>
    <h4>Current time :{{time}}</h4>
    <h4>Today's Date :{{date}} </h4>
    <h4>Today is: {{day}}</h4>

    <img src="{% static 'images/virat-kohli.jpg' %}" alt="My-Image" height="500px" width="700px">
    
    <video controls="controls" autoplay="autoplay" height="500px" width="700px">
        <source src="{% static 'video/vk-video.mp4'%}">
    </video>

    <audio controls="controls" >
        <source src="{% static 'audio/vk-audio.m4a'%}">
    </audio>


</body>
</html>