<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product_Name</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for key,value in all_record.items %}
                <tr>
                    <th scope="row">{{key}}</th>
                    <td>{{value}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'home' %}">Go back to home page</a>
    </div>
</body>
</html>